
.exemplo {
    color: yellow !important;
}

/* Dispositivos extra pequenos */
@media only screen and (max-width: 600px) {
    .exemplo {
        background-color: red;
        color: blue;
        height: 200px;
    }
}

/* Dispositivos pequenos */
@media only screen and (min-width: 600px) {
    .exemplo {
        background-color: aqua;
        height: 250px;
    }
}

/* Dispositivos médios */
@media only screen and (min-width: 768px) {
    .exemplo {
        background-color: brown;
        height: 300px;
    }
}

/* Dispositivos grandes */
@media only screen and (min-width: 992px) {
    .exemplo {
        background-color: chartreuse;
        height: 400px;
    }
}

/* Dispositivos extra grandes */
@media only screen and (min-width: 1200px) {
    .exemplo {
        background-color: coral;
        color: blue;
        border-color: red;
        border-style: dashed;
        height: 500px;
    }
}

