
/* Dispositivos extra pequenos (telefones, menor que 600px) */
@media only screen and (max-width: 600px) {
    .exemplo {
        background: blueviolet;
        border: solid black;        
    }
} 

/* Dispositivos pequenos (Tablets e telefones grandes, maior que 600px) */
@media only screen and (min-width: 600px) {
    .exemplo {background: green;}
} 

/* Dispositivos médios (Tablets grandes, maior que 768px) */
@media only screen and (min-width: 768px) {
    .exemplo {background: red;}
} 

/* Dispositivos grandes (notebook/desktops, maior que 992px) */
@media only screen and (min-width: 992px) {
    .exemplo {background: blue;}
} 

/* Dispositivos extra grande (notebook/desktops/tv, maior que 1200px) */
@media only screen and (min-width: 1200px) {
    .exemplo {background: orange;}
}


.exemplo {
    padding: 20px;
    color: white;
}
